<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/manageMovies.css">
    <title>Sign Up</title>
</head>

<body>
    <header>
        <nav>
            <div class="container">
                <h1 class="logo">CENFLIX</h1>
                <ul class="nav-items">
                    <li><a href="/viewMovies">VIEW MOVIES</a></li>
                    <li><a href="/addMovies">ADD MOVIES </a></li>
                    <li><a href="/viewMovies/tabularView">GENERATE REPORT </a></li>
                    <li><a href="/logout">LOG OUT</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="signup-form">
            <h1 class="form-heading" style="text-align: center;">Update Movie</h1>
            <p style="text-align: center;">Please Fill This Form To Add New Movie!</p>
            <form action="/updateMovies/<%=movieData[0].MovieID%>" name="su-form" method="POST" enctype="multipart/form-data">

                <b>Movie Name</b><br>
                <input type="text" name="movieName" placeholder="Movie Name" class="i-box"
                    value="<%=movieData[0].MovieName%>"><br>
                <b>Movie Duration</b><br>
                <input type="text" name="movieDuration" placeholder="2hr 30m" class="i-box"
                    value="<%= movieData[0].MovieDuration %>"><br>

                <label for="PG"><b>Parental Guidance</b></label><br>
                <select name="parentalGuidance" id="PG">
                    <option value="13" <%=movieData[0].MoviePG=='13' ? 'selected' : '' %> >13+</option>
                    <option value="14" <%=movieData[0].MoviePG=='14' ? 'selected' : '' %> >14+</option>
                    <option value="15" <%=movieData[0].MoviePG=='15' ? 'selected' : '' %> >15+</option>
                    <option value="16" <%=movieData[0].MoviePG=='16' ? 'selected' : '' %> >16+</option>
                    <option value="17" <%=movieData[0].MoviePG=='17' ? 'selected' : '' %> >17+</option>
                    <option value="18" <%=movieData[0].MoviePG=='18' ? 'selected' : '' %> >18+</option>
                </select><br>

                <label for="MT"><b>Movie Type</b></label><br>
                <select name="movieType" id="MT">
                    <option value="Action" <%=movieData[0].MovieType=='Action' ? 'selected' : '' %> >Action</option>
                    <option value="Comedy" <%=movieData[0].MovieType=='Comedy' ? 'selected' : '' %> >Comedy</option>
                    <option value="Drama" <%=movieData[0].MovieType=='Drama' ? 'selected' : '' %> >Drama</option>
                    <option value="Fantasy" <%=movieData[0].MovieType=='Fantasy' ? 'selected' : '' %> >Fantasy</option>
                    <option value="Horror" <%=movieData[0].MovieType=='Horror' ? 'selected' : '' %> >Horror</option>
                    <option value="Mystery" <%=movieData[0].MovieType=='Mystery' ? 'selected' : '' %> >Mystery</option>
                    <option value="Romance" <%=movieData[0].MovieType=='Romance' ? 'selected' : '' %> >Romance</option>
                    <option value="Thriller" <%=movieData[0].MovieType=='Thriller' ? 'selected' : '' %> >Thriller
                    </option>
                </select><br>
                <b>Movie Description</b><br>
                <textarea name="movieDescription" id="movieDescription" cols="45" rows="1"
                    placeholder="<%=movieData[0].MovieDescription%>" required><%=movieData[0].MovieDescription%></textarea><br>
                <b>Movie Poster </b> <br>
                <input type="file" name="moviePoster" value="<%=movieData[0].MovieDescription%>"><br>
                <input type="submit" value="Update Movie">
            </form>
        </div>
    </div>
    <script>

    </script>
</body>

</html>